@(user: User)

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Create Account</title>
    <link href="@routes.Assets.at("stylesheets/dashboard.css")" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    @header()

    <div class="test">
        @user.getUsername, @user.getEmail
    </div>

    <div class="header-buttons">
        <button class="edit">Edit Profile</button>
        <button class="signout">Sign Out</button>
    </div>
</body>