<style>
    .header {
        background-color: #1D4ED8;
        padding: 1.5rem;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .images .pony {
        position: relative;
        width: 10%;
        height: 10%;
        margin: 1rem;
    }

    .images .logo {
        margin: 1rem;
    }
    
    .header img {
        display: block;
        margin: auto;
    }

    .header h1 {
        color: #CBD0C7;
        text-align: center;
        font-size: 2.5em;
    }
</style>

<div class="header">
    <div class="images">
        <img alt="SMU-Logo" class="logo" src="@routes.Assets.at("images/Lyle.png")" />
        <img alt="SMU-pony" class="pony" src="@routes.Assets.at("images/Pony.png")" />
    </div>
    <h1>CS Department TA Application Portal</h1>
</div>