@(authorizeMessage: String)
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Play Setup Demo</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    @header()

    <div class="flex items-center justify-center h-screen">
        <div class="flex container border-solid border-2 border-black">
            <form>
                <div class="flex grow w-full border-solid border-2 border-red">
                    <select></select>
                    <input id="firstname" class="grow">
                    <label for="firstname" class="grow">First Name</label>

                    <input id="lastname">
                    <label for="lastname">Last Name</label>
                </div>

                <div>
                    <input id="email">
                    <label for="email">Email</label>

                    <input id="phone">
                    <label for="phone">Phone</label>

                    <input id="fax">
                    <label for="fax">Fax</label>
                </div>

                <div>
                    <input id="address">
                    <label for="address">Address</label>
                </div>
                <div>
                    <input id="city">
                    <label for="city">City</label>

                    <select id="state"></select>
                    <label for="state">State</label>

                    <input id="zip">
                    <label for="zip">Zip Code</label>
                </div>
                <div>
                    <input id="research">
                    <label for="research">Research Areas (optional)</label>
                </div>

                <div>
                    <input id="position">
                    <label for="position">Position (if applicable)</label>

                    <input id="affiliation">
                    <label for="affiliation">Affiliation (if applicable)</label>
                </div>
                <div>
                    <input id="comments">
                    <label for="comments">Comments</label>
                </div>
                <div>
                    <!-- conditionally render based on select field input -->
                </div>
            </form>
        </div>
    </div>
</body>

</html>