@(authorizeMessage: String)
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Create Account</title>
    <link href="@routes.Assets.at("stylesheets/register.css")" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="@routes.Assets.at("javascripts/isStudent.js")"></script>
</head>

<body>
    @header()

    <div class="form-area">
        <h2 class="">Create an Account</h2>
        <form action="register" method="POST">
            <div class="container">
            <div class="info-header">
                <h1>Account Info</h1>
            </div>

            <div class="username">
                <input id="username" name="username" placeholder="Username">
            </div>

            <div class="password">
                <input id="password" name="password" type="password" placeholder="Password">
                <input id="confirm" name="confirmPassword" type="password" placeholder="Confirm Password">
            </div>
            <div class="line-1">
                <select name="title">
                    <option value="Mr">Mr.</option>
                    <option value="Ms">Ms.</option>
                    <option value="Dr">Dr.</option>
                </select>
                <input id="firstname" name="firstname" placeholder="First Name">
                <input id="lastname" name="lastname" placeholder="Last Name">

            </div>

            <div class="line-2">
                <input id="email" name="email" placeholder="Email">
                <input id="phone" name="phone" placeholder="Phone">
                <input id="fax" name="fax" placeholder="Fax (optional)">

            </div>

            <div class="line-3">
                <input id="address" name="address" placeholder="Address">

            </div>
            <div class="line-4">
                <input id="city" name="city" placeholder="City">
                @states()
                <input id="zip" name="zip" placeholder="Zip Code">

            </div>

            <div class="research-info">
                <h1>Research Info (Optional)</h1>
            </div>
            <div class="line-5">
                <input id="research" name="researchAreas" placeholder="Research Areas">

            </div>

            <div class="line-6">
                <input id="position" name="position" placeholder="Position">
                <input id="affiliation" name="affiliation" placeholder="Affiliation">

            </div>
            <div id="conditional" class="line-7">
                <!-- conditionally render based on select field input -->
                <div id="non-student" class="column-1">
                    <div class="item-1">
                    <label for="status">Status</label>
                    <select id="status" name="status" onchange="isStudent()">
                        <option disabled selected hidden></option>
                        <option value="Faculty">Faculty</option>
                        <option value="Staff">Staff</option>
                        <option value="Student">Student</option>
                    </select>
                </div>
                </div>
            </div>
            <div class="line-8">
                <div class="comment-container">
                    <label for="comments">Comments</label>
                    <textarea id="comments" name="comments" placeholder="Anything else we should know about you?"></textarea>
                </div>
            </div>
            </div>
            <div class="button-fields">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</body>

</html>