body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 22px;
    background-color: #09173F;
    overflow-x: hidden;
}

.form-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70rem;
    margin: auto;
    height: 100%;
    margin: 4rem;
    background-color: white;
    font-family: 'PT Sans Caption', sans-serif;
    padding: 5rem;
}

.form-area h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.container {
    border: solid 3px black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 1rem;
}

.container h2 {
    font-size: 1em;
}

.container>*>* {
    margin: 0.9rem;
    flex: 1;
    min-width: 0;
}

.container>* {
    display: flex;
}

input,
select,
textarea {
    margin: 1rem;
    border: 2px solid rgb(128, 128, 128);
    text-indent: 10px;
    border-radius: 5px;
}

input, 
select {
    height: 3.5rem;
}

textarea {
    width: 100%;
    height: 7rem;
    overflow: scroll;
}

.line-1 * {
    margin: 1rem;
}

.line-1 select {
    flex: 0.5;
}

.line-1 input {
    flex: 2;
}

.line-2 > input:first-child {
    flex: 1.5;
}

#conditional {
    display: flex;
    flex-wrap: wrap;
}

#conditional label,
input {
    display: block;
}

#conditional>* {
    display: flex;
    justify-content: space-between;
}

#conditional>*>*>* {
    display: block;
}

.item-1 select {
    width: 10rem;
}

.item-2 select {
    width: 15rem;
}

.item-3 select, .item-4 select {
    width: 12rem;
}

.comment-container {
    display: inline-block;
}

.button-fields {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button-fields button {
    padding: 1rem;
    background-color: #DC0039;
    color: white;
    border-radius: 30px;
    width: 15rem;
}